/* Palette */
$sage: #95a352;
$pea: #80971d;
$sandy: #eeb485;
$peachy: #dd8861;
$golden: #E3AD37;
$charcoal: #636363;
$lightgray: #e8e8e8;

/* Fonts */
$inika: 'Inika', serif;
$poppins: 'Poppins', sans-serif;

/* Font sizes desktop*/
$fs-heading: 65px;
$fs-subheading: 60px;
$fs-subsubheading: 35px;
$fs-body: 18px;

/* Font sizes mobile */
$fs-mobile-heading: 55px;
$fs-mobile-subheading: 50px;
$fs-mobile-subsubheading: 25px;
$fs-mobile-body: 16px;


/* // .kalua {
//     position: relative;
// }
// .kalua span {
//     display: none;
//     margin: 0;
//     padding: 0;
// }
// .kalua:hover span {
//     display: block;
//     position: absolute;
//     bottom: 100%;
//     left: -250px;  
// }
// .kalua span img {
//     width: 75%;
//     object-fit: contain;
//     border-radius: 10px;
// } */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

.container {
    padding: 0 2.5rem 0 2.5rem;
}

body {
    background: $lightgray;
    /* Top Navigation */
    .navbar {
        background: $sage;
        box-shadow: 0 8px 32px 0 rgba(8, 8, 8, 0.37);
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        width: 100%;
        .container {
            .navbar-brand {
                font-family: $inika;
              
                h2 {
                    color: $lightgray;
                    margin-top: 10px;
                }
            
            }
            /* from restaurant dashboard */
            .dashheader {
                color: white;
                margin-top: 10px;
            }

            .nav-link {
                color: $lightgray;
                font-family: $inika;
                font-size: $fs-body;
            }
    
            .nav-link:hover {
                color: $sandy;
            }
        
            .btn-order {
                background-color: $golden;
                border: none;
                font-size: $fs-body;
            }
        
            .btn-order:hover {
            
                background-color: $sandy;
            }
            
            .btn-order a {
                color: white;
                text-decoration: none;
            }

            .navbar-toggler {
                border: none;
                
                .hamburger {
                
                    i {
                        color: white;
                    }

                }
            }  
        }
    }


    #hero {
        margin-top: 4.5rem;
    }

    main {
        .hero {
            .container {
                padding-top: 6rem;
                padding-bottom: 3rem;
                text-align: center;
                .index-header {
                    h1 {
                        font-family: $inika;
                        font-weight: bold;
                        font-size: $fs-mobile-heading;
                        color: $golden;
                        
                    }
                    .button {
                        border: none;
                        border-radius: 1rem;
                        font-size: $fs-body;
                        background-color: $sage;
                        min-width: 8rem;
                        min-height: 2rem;
                        color: white;
                  
                    }

                    .button:hover {
                        background-color: $pea;
                        box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
                    }
                }
                img {
                    max-width: 300px;
                    margin-top: 130px;
                }
            }
        }

        .about {
            padding-top: 6rem;
            .container {
                text-align: center;
                h2 {
                    margin-bottom: 1rem;
                    font-family: $inika;
                    font-size: $fs-mobile-subheading;
                    color: $golden;
                }
             
                p {
                    font-family: $poppins;
                    font-size: $fs-mobile-body;
                    line-height: 2rem;
                    color: $charcoal;
                    padding: 2rem;
                
                }

                .button {
                    border: none;
                    border-radius: 1rem;
                    font-size: $fs-body;
                    background-color: $sage;
                    min-width: 8rem;
                    min-height: .5rem;
                    color: white;
              
                }
                .button:hover {
                    background-color: $pea;
                    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
                }

            }
            .google-map {
                padding-bottom: 50%;
                position: relative;
            }
           
           .google-map iframe {
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                position: absolute;
                
            }
        }

        .menu {
            background-image: url('/img/Desktop3.svg');
            background-size: cover;
            background-repeat: no-repeat;
            padding-top: 6rem;
            padding-bottom: 3rem;
          
            h2 {
                font-family: $inika;
                font-size: $fs-mobile-subheading;
                color: $peachy;
                text-align: center;
            }
            .container {
                .tabs-wrapper {
                    padding: 1rem;
                    border-radius: 0.5rem;
                    box-shadow: 2px 8px 10px #c3c2c2;
                    display: flex;
                    background-color: rgb(223, 223, 223);
                

                    ul {
                        list-style: none;
                        padding: 0;
                        /* display: grid;
                        grid-template-columns: repeat(2, 1fr); */
                    }

                    .nav-tabs li {
                        border: 1px solid #ddd;
                        margin-bottom: 10px;
                    }

                    .nav-tabs li.tab {
                        padding: .5rem 1.5rem;
                        cursor: pointer;
                        border-radius: 5px;
                        margin-right: .5rem;
                        transition: all .3s ease 0s;
                        font-weight: 500;
                        width: 160px;
                        height: 50px;
                        
                    }
                    .nav-tabs .tab.is-active {
                        background: $golden;
                        color: #fff;
                        box-shadow:1px 2px 5px $charcoal;
                        border: none;
                      
                    }

                    .tab-panel {
                        display: none;
                        margin-left: 50px;
                    

                    }

                    .tab-panel h5 {
                        margin-top: 10px;
                        margin-bottom: 20px;
                        font-family: $inika;
                        font-size: 30px;
                        font-weight: 700;
                        color: $sage;
                    }
                    .tab-panel p {
                        line-height: 1.6;
                        
                    }
                    .tab-panel.is-active {
                        display: block;
            
                    }
                }
            }
            .button {
                margin-top: 50px;
                border: none;
                border-radius: 1rem;
                font-size: $fs-body;
                background-color: $sage;
                min-width: 8rem;
                min-height: 2rem;
                color: white;
          
            }

            .button:hover {
                background-color: $pea;
                box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
            }
        }

        .cater {
            padding-top: 6rem;
            .container {
                height: 800px;
                .card {
                    text-align: center;
                    padding: 2rem;
                    margin-bottom: 145px;
                    background-color: $sandy;
                    h2 {
                        font-family: $inika;
                        font-size: $fs-mobile-heading;
                        color: white;
                    }
                    p {
                        font-family: $poppins;
                        font-size: $fs-mobile-body;
                        color: white;
                    }
                }
                .image {
                    margin-top: 400px;
                    perspective: 1000px;
                    transform: translate(-50%, -50%);
                    transform-style: preserve-3d;
                    display: grid;
                    grid-template-rows: repeat(2, 1fr);
                    justify-content: center;
                    margin-left: 50%;
                    .img3 {
                        max-height: 250px;
                        max-width: 500px;
                        margin-bottom: 25px;
                        transform: rotateX(50deg) rotateZ(-80deg) translate3d(-100px, 0px, 80px);
                        box-shadow: -80px 60px 15px 2px rgba(0,0,0,0.5);
                        transition: all .4s;
                        transform-style: preserve-3d;
                        border: 2px solid $sandy;
                      
                    }
    
                    .img2 {
                        max-height: 250px;
                        max-width: 500px;
                        margin-top: 25px;
                        transform: rotateX(50deg) rotateZ(-80deg) translate3d(-100px, 0px, 80px);
                        box-shadow: -80px 60px 15px 5px rgba(0,0,0,0.4);
                        transition: all .4s;
                        transform-style: preserve-3d;
                        border: 2px solid $sandy;
                
                    }

                   
                }
                .image:hover img {
                    transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
                    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
                    left: 50%;
                  }
            }
        }   
                

        .contact {
            background-image: url('/img/careerbg2.svg');
            background-size: cover;
            background-repeat: no-repeat;
            padding-bottom: 3rem;
            h2 {
                font-family: $inika;
                font-size: $fs-mobile-subheading;
                color: $golden;
                text-align: center;
            }
            .container {
                color: $charcoal;
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                .contact-details {
                    background: $golden;
                    border-radius: 10px;
                    padding: 1rem;
                    .list-unstyled {
                      line-height: 2.5rem;
                        li {
                            font-family: $poppins;
                            margin-bottom: 10px;
                            
                            span {
                                font-family: $poppins;
                                font-size: $fs-mobile-body;
                            }
                        }
                        
                    }

                    .hours {
                        margin-top: 1.5rem;
                        color: $charcoal;
                        h6 {
                          
                            font-family: $inika;
                            font-size: $fs-mobile-subsubheading;
                            color: $peachy;
                        }
                        p {
                            line-height: .5rem;
                            font-family: $poppins;
                            font-size: $fs-mobile-body;
                        }
                    }
            
                    .footer-copyright {
                       
                        p {
                            font-family: $poppins;
                            font-size: $fs-mobile-body;
                            color: $charcoal;
                            margin-top: 1.5rem;
                        }
                    }

                    .socials {
                        
                  
                        a {
                            margin-right: 30px;
                            text-decoration: none;
                      
                        
                        
                        
                            .button {
                                background-color: $peachy;
                                border: none;
                                min-height: 40px;
                                min-width: 40px;
                                border-radius: 50%;
                        
                            }
    
                            .button:hover {
                                background-color: $sandy;
                                box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
                            }
    
                        
                        }
                        hr {
                            width: 100%;
                            color: $charcoal;
                            border: 4px solid $charcoal;
                            margin-bottom: 10px;
                            
                        }
                    }
                   
                }

                
            
            
               
                .form-center {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    margin-right: 10px;
                    padding: 1rem;
              
                   }
                   .btn-primary {
                    margin-top: 30px;
                    padding: .5rem 2rem;
                    background-color: $peachy;
                    border: none;
                    width: 100%;
                }
                .btn-primary:hover {
                    background-color: $sandy;
                }

                }
                
            }
    
        }

    }
.career-app {
        min-height: 100vh;
        padding-top: 9rem;
        background-image: url('/img/careerbg.svg');
        background-size: cover;
        background-repeat: no-repeat;
        .container {
            color: $charcoal;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .career-header {
                color: $golden;
            }
            .contact-details {
                margin-top: 55px;
                padding: 1rem;
                .list-unstyled {
                  line-height: 2.5rem;
                    li {
                        font-family: $poppins;
                        margin-bottom: 10px;
                        
                        span {
                            font-family: $poppins;
                            font-size: $fs-mobile-body;
                        }
                    }
                    
                }
    
                .hours {
                    margin-top: 1.5rem;
                    color: $charcoal;
                    h6 {
                      
                        font-family: $inika;
                        font-size: $fs-mobile-subsubheading;
                        color: $golden;
                    }
                    p {
                        line-height: .5rem;
                        font-family: $poppins;
                        font-size: $fs-mobile-body;
                    }
                }
        
                .footer-copyright {
                   
                    p {
                        font-family: $poppins;
                        font-size: $fs-mobile-body;
                        color: $charcoal;
                        margin-top: 2.5rem;
                    }
                }
    
                .socials {
                    
              
                    a {
                        margin-right: 30px;
                        text-decoration: none;
                  
                    
                    
                    
                        .button {
                            background-color: $golden;
                            border: none;
                            min-height: 40px;
                            min-width: 40px;
                            border-radius: 50%;
                    
                        }
    
                        .button:hover {
                            background-color: $sandy;
                            box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
                        }
    
                    
                    }
                    hr {
                        width: 100%;
                        color: $golden;
                        border: 4px solid $golden;
                        margin-bottom: 10px;
                        
                    }
                }
               
            }
    
    
            .form-center {
                padding: 1rem;
                margin-right: 50px;
                .md-form {
                    input {
                        border-radius: 10px;
                    }
                    
                    #positions,
                    #startdate {
                        color: $charcoal;
                        border: none;
        
                    }
                    #startdate {
                        padding-left: 1rem;
                        padding-right: 1rem;
                    }
                  
                    
                }
            
                .btn {
                    width: 100%;
                    margin-top: 30px;
                    background-color: $golden;
                    border: none;
                }
        
                .btn:hover {
                    background-color: $sandy;
                    
                }
            }
        }
}

@media (min-width: 1000px) {
    
    .image {
        grid-template-columns: repeat(2, 1fr) !important;
       
        .img3 {
            margin-right: 50px !important;
            max-height: 350px !important;
            max-width: 600px !important;
        }

       .img2 {
            margin-top: 0 !important;
            max-height: 308px !important;
            max-width: 600px !important;
       }
    }
    .career-app {
        .footer-copyright {
            padding-top: 0rem !important;
        }
    }

    .contact {
        .footer-copyright {
            padding-top: .2rem !important;
        }
    }
}

@media (max-width: 1000px) {
    .contact,
    .career-app{
        .container{
            grid-template-columns: repeat(1, 1fr) !important;
            .contact-details {
                margin-top: 30px !important;
            }
            .form-center {
                width: 100% !important;
                margin-top: 35px !important;
            }
        }
    }
    .cater {
        .container {
            min-height: 1250px !important;
        }
    }
}
