/* Palette */
$sage: #95a352;
$pea: #80971d;
$sandy: #eeb485;
$peachy: #dd8861;
$golden: #E3AD37;
$charcoal: #636363;
$lightgray: #e8e8e8;

/* Fonts */
$inika: 'Inika', serif;
$poppins: 'Poppins', sans-serif;

/* Font sizes desktop*/
$fs-heading: 65px;
$fs-subheading: 60px;
$fs-subsubheading: 35px;
$fs-body: 18px;

/* Font sizes mobile */
$fs-mobile-heading: 55px;
$fs-mobile-subheading: 50px;
$fs-mobile-subsubheading: 25px;
$fs-mobile-body: 16px;


/* // .kalua {
//     position: relative;
// }
// .kalua span {
//     display: none;
//     margin: 0;
//     padding: 0;
// }
// .kalua:hover span {
//     display: block;
//     position: absolute;
//     bottom: 100%;
//     left: -250px;  
// }
// .kalua span img {
//     width: 75%;
//     object-fit: contain;
//     border-radius: 10px;
// } */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

.container {
    padding: 0 2.5rem 0 2.5rem;
}

body {
    background-color: $lightgray;
    /* Top Navigation */
    .navbar {
        background: $sage;
        box-shadow: 0 8px 32px 0 rgba(8, 8, 8, 0.37);
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        width: 100%;
        .container {
            .navbar-brand {
                font-family: $inika;
              
                h2 {
                    color: $lightgray;
                    margin-top: 10px;
                }
            
            }
            /* from restaurant dashboard */
            .dashheader {
                color: white;
                margin-top: 10px;
            }

            .nav-link {
                color: $lightgray;
                font-family: $inika;
                font-size: $fs-body;
            }
    
            .nav-link:hover {
                color: $sandy;
            }
        
            .btn-order {
                background-color: $golden;
                border: none;
                font-size: $fs-body;
            }
        
            .btn-order:hover {
            
                background-color: $sandy;
            }
            
            .btn-order a {
                color: white;
                text-decoration: none;
            }

            .navbar-toggler {
                border: none;
                
                .hamburger {
                
                    i {
                        color: white;
                    }

                }
            }  
        }
    }

    section {
        min-height: 100vh;
    }

    #hero {
        margin-top: 4.5rem;
    }

    main {
        .hero {
            .container {
                padding-top: 9rem;
                text-align: center;
                .index-header {
                    h1 {
                        font-family: $inika;
                        font-weight: bold;
                        font-size: $fs-mobile-heading;
                        color: $golden;
                        
                    }
                    .button {
                        border: none;
                        border-radius: 1rem;
                        font-size: $fs-body;
                        background-color: $sage;
                        min-width: 8rem;
                        min-height: 2rem;
                        color: white;
                  
                    }

                    .button:hover {
                        background-color: $pea;
                        box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
                    }
                }
                img {
                    max-width: 300px;
                    margin-top: 50px;
                }
            }
        }

        .about {
            .container {
                text-align: center;

                h2 {
                    margin-bottom: 1rem;
                    font-family: $inika;
                    font-size: $fs-mobile-subheading;
                    color: $golden;
                }
             
                p {
                    font-family: $poppins;
                    font-size: $fs-mobile-body;
                    line-height: 2rem;
                    color: $charcoal;
                    padding: 2rem;
                
                }

                .button {
                    border: none;
                    border-radius: 1rem;
                    font-size: $fs-body;
                    background-color: $sage;
                    min-width: 8rem;
                    min-height: .5rem;
                    color: white;
              
                }
                .button:hover {
                    background-color: $pea;
                    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
                }

                .google-map {
                    padding-bottom: 50%;
                    position: relative;
               }
               
               .google-map iframe {
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    position: absolute;
               }
            }
        }

        .menu {
            .container {
                padding-top: 9rem;
                .tabs-wrapper {
                    padding: 1rem;
                    border-radius: 0.5rem;
                    box-shadow: 2px 1px 20px #ddd;
                    display: flex;
                

                    ul {
                        list-style: none;
                        padding: 0;
                        /* display: grid;
                        grid-template-columns: repeat(2, 1fr); */
                    }

                    .nav-tabs li {
                        border: 1px solid #ddd;
                        margin-bottom: 10px;
                    }

                    .nav-tabs li.tab {
                        padding: .5rem 1.5rem;
                        cursor: pointer;
                        border-radius: 5px;
                        margin-right: .5rem;
                        transition: all .3s ease 0s;
                        font-weight: 500;
                        width: 160px;
                        height: 50px;
                        
                    }
                    .nav-tabs .tab.is-active {
                        background: $golden;
                        color: #fff;
                      
                    }

                    .tab-panel {
                        display: none;
                        margin-left: 10px;
                    

                    }
                    .tab-panel p {
                        line-height: 1.6;
                        
                    }
                    .tab-panel.is-active {
                        display: block;
            
                    }
                }
            }
            .button {
                margin-top: 50px;
                border: none;
                border-radius: 1rem;
                font-size: $fs-body;
                background-color: $sage;
                min-width: 8rem;
                min-height: 2rem;
                color: white;
          
            }

            .button:hover {
                background-color: $pea;
                box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
            }
        }

        .cater {
    
            .container {
                padding-top: 9rem;
                padding-bottom: 6rem;
            
                .card {
                    text-align: center;
                    padding: 2rem;
                    margin-bottom: 145px;
                    background-color: $sandy;
                    h2 {
                        font-family: $inika;
                        font-size: $fs-mobile-heading;
                        color: white;
                    }
                    p {
                        font-family: $poppins;
                        font-size: $fs-mobile-body;
                        color: white;
                    }
                }
                .image {
                    margin-top: 400px;
                    perspective: 1000px;
                    transform: translate(-50%, -50%);
                    transform-style: preserve-3d;
                    display: grid;
                    grid-template-rows: repeat(2, 1fr);
                    justify-content: center;
                    margin-left: 60%;
                    .img3 {
                        max-height: 300px;
                        max-width: 500px;
                        margin-bottom: 5px;
                        transform: rotateX(60deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
                        box-shadow: -80px 60px 15px 2px rgba(0,0,0,0.5);
                        transition: all .4s;
                        transform-style: preserve-3d;
                      
                    }
    
                    .img2 {
                        max-height: 300px;
                        max-width: 500px;
                        margin-bottom: 5px;
                        transform: rotateX(60deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
                        box-shadow: -80px 60px 15px 5px rgba(0,0,0,0.4);
                        transition: all .4s;
                        transform-style: preserve-3d;
                
                    }

                   
                }
                .image:hover img {
                    transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
                    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
                    left: 50%;
                  }
            }
        }   
                

        .contact {
            .container {
                padding-top: 9rem;
                padding-bottom: 2rem;
                color: $charcoal;
                .contact-details {
                    h2 {
                        font-family: $inika;
                        font-size: $fs-mobile-subheading;
                        color: $golden;
                    }

                    .list-unstyled {
                    
                        li {
                            font-family: $poppins;
                            
                            
                            span {
                                font-family: $poppins;
                                font-size: $fs-mobile-body;
                            }
                        }
                        
                    }
                   
                }

                
            
            
                .form-row {
                   margin-top: 10px;
                   justify-content: center;
    
                   .form-center {
                        display: flex;
                        flex-direction: row;
                        width: 500px;
    
                        .btn {
                            width: 100%;
                        }
              
                   } 
                }
                
                .btn-primary {
                    margin-top: 30px;
                    padding: .5rem 2rem;
                    background-color: $golden;
                    border: none;
                }
                .btn-primary:hover {
                    background-color: $sandy;
                }
            }
        }
    }
    .page-footer {
        background-color: $charcoal;
        box-shadow: 0 8px 8px 10px rgba(8, 8, 8, 0.37);
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        
        .hours {
            margin-top: 1rem;
            text-align: center;
            color: white;
            h6 {
                text-align: center;
                font-family: $inika;
                font-size: $fs-mobile-subsubheading;
                color: $golden;
            }
            p {
                line-height: .5rem;
                font-family: $poppins;
                font-size: $fs-mobile-body;
            }
        }

        .footer-copyright {
            text-align: center;

            p {
                font-family: $poppins;
                font-size: $fs-mobile-body;
                color: white;

            }
        }

        .container {
            
            display: block;
            margin-left: auto;
            margin-right: auto;
                .socials {
                    display: block;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    margin-right: auto;
                    margin-left: auto;
                    width: 9em;
              
                    a {
                        margin-left: 30px;
                        text-decoration: none;
                  
                    
                    
                    
                        .button {
                            background-color: $golden;
                            border: none;
                            min-height: 40px;
                            min-width: 40px;
                            border-radius: 50%;

                            i {
                                color: white;
                            }
                    
                        }

                        .button:hover {
                            background-color: $sandy;
                            box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
                        }

                    
                    }
                }
        }
    }
}
.career-app {
    .container {
        padding-top: 9rem;
        padding-bottom: 2rem;
        color: $charcoal;
        justify-content: center;
        .career-header {
            color: $charcoal;
            margin-bottom: 20px;
        }

        .md-form {
            input {
                border-radius: 10px;
            }
            
            #positions,
            #startdate {
                color: $charcoal;
                border: none;

            }
            #startdate {
                padding-left: 1rem;
                padding-right: 1rem;
            }
          
            
        }
    
        .btn {
            width: 100%;
            margin-top: 30px;
            background-color: $golden;
            border: none;
        }

        .btn:hover {
            background-color: $sandy;
            
        }
    }
}
