/* Palette */
$sage: #95a352;
$pea: #80971d;
$sandy: #eeb485;
$peachy: #dd8861;
$golden: #E3AD37;
$charcoal: #636363;
$lightgray: #e8e8e8;

/* Fonts */
$inika: 'Inika', serif;
$poppins: 'Poppins', sans-serif;

/* Font sizes desktop*/
$fs-heading: 65px;
$fs-subheading: 60px;
$fs-subsubheading: 35px;
$fs-body: 18px;

/* Font sizes mobile */
$fs-mobile-heading: 55px;
$fs-mobile-subheading: 50px;
$fs-mobile-subsubheading: 25px;
$fs-mobile-body: 16px;


/* // .kalua {
//     position: relative;
// }
// .kalua span {
//     display: none;
//     margin: 0;
//     padding: 0;
// }
// .kalua:hover span {
//     display: block;
//     position: absolute;
//     bottom: 100%;
//     left: -250px;  
// }
// .kalua span img {
//     width: 75%;
//     object-fit: contain;
//     border-radius: 10px;
// } */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

.container {
    padding: 0 2.5rem 0 2.5rem;
}

body {
    overflow-x: hidden;
    background: $lightgray;
    /* Top Navigation */
    .navbar {
        background: $sage;
        box-shadow: 0 8px 32px 0 rgba(8, 8, 8, 0.37);
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        width: 100%;
        .container {
            .navbar-brand {
                font-family: $inika;
              
                h2 {
                    color: $lightgray;
                    margin-top: 10px;
                }
            
            }
            /* from restaurant dashboard */
            .dashheader {
                color: white;
                margin-top: 10px;
            }

            .nav-link {
                color: $lightgray;
                font-family: $inika;
                font-size: $fs-body;
            }
    
            .nav-link:hover {
                color: $sandy;
            }
        
            .btn-order {
                background-color: $golden;
                border: none;
                font-size: $fs-body;
                margin-left: 10px;
            }
        
            .btn-order:hover {
            
                background-color: $sandy;
            }
            
            .btn-order a {
                color: white;
                text-decoration: none;
            }

            .navbar-toggler {
                border: none;
                
                .hamburger {
                
                    i {
                        color: white;
                    }

                }
            }  
        }
    }


    #hero {
        margin-top: 4.5rem;
    }

    main {
        .hero {
            min-height: 75vh;
            background-color: rgb(223, 223, 223);
            padding-bottom: 10rem;
            .container {
                padding-top: 15rem;
                padding-bottom: 3rem;
                margin-left: 680px;
                text-align: center;
                .index-header {
                    h1 {
                        font-family: $inika;
                        font-weight: bold;
                        font-size: $fs-mobile-heading;
                        color: $golden;
                        
                        
                    }
                    .button {
                        border: none;
                        border-radius: 1.5rem;
                        font-size: 24px;
                        background-color: $sage;
                        min-width: 10rem;
                        min-height: 3rem;
                        color: white;
                        padding: .4rem;
                  
                    }

                    .button:hover {
                        background-color: $pea;
                        box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
                    }
                }
                img {
                    width: 100vw;
                    margin-top: 100px;
                }
            }
        }

        .about {
            .container {
                padding-top: 9rem;
                padding-bottom: 9rem;
                text-align: center;
                h2 {
                    margin-bottom: 1rem;
                    font-family: $inika;
                    font-size: $fs-mobile-subheading;
                    color: $golden;
                }
             
                p {
                    font-family: $poppins;
                    font-size: $fs-mobile-body;
                    line-height: 2rem;
                    color: $charcoal;
                    padding: 2rem;
                
                }

                .button {
                    border: none;
                    border-radius: 1rem;
                    font-size: $fs-body;
                    background-color: $sage;
                    min-width: 8rem;
                    min-height: .5rem;
                    color: white;
                    padding-top: 6rem;
                    padding-bottom: 3rem;
              
                }
                .button:hover {
                    background-color: $pea;
                    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
                }

            }
        }
        .food-pics {
            padding-bottom: 9rem;
            .row {
                display: flex;
                flex-wrap: wrap;
                min-width: 100%;
                
                .column {
                    flex: 15%;
                    margin: 0;
                    padding: 0;
                    .overlay {
                        background-color: black;
                        img {
                            width: 100%;
                            height: 100%;
                            opacity: 50%;
                           
                        }
                    }

                    img:hover {
                        opacity: 100%;
                        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
                    }
                }
            }

        }

        .menu {
            padding-top: 8.5rem;
            padding-bottom: 9rem;
        
            h2 {
                font-family: $inika;
                font-size: $fs-mobile-subheading;
                color: $golden;
                text-align: center;
            }
            .container {
                .tabs-wrapper {
                    padding: 1rem;
                    border-radius: 0.5rem;
                    box-shadow: 2px 8px 10px #c3c2c2;
                    display: flex;
                    background-color: rgb(223, 223, 223);
                

                    ul {
                        list-style: none;
                        padding: 0;
                        /* display: grid;
                        grid-template-columns: repeat(2, 1fr); */
                    }

                    .nav-tabs li {
                        border: 1px solid #ddd;
                        margin-bottom: 10px;
                    }

                    .nav-tabs li.tab {
                        padding: .5rem 1.5rem;
                        cursor: pointer;
                        border-radius: 5px;
                        margin-right: .5rem;
                        transition: all .3s ease 0s;
                        font-weight: 500;
                        width: 160px;
                        height: 50px;
                        color: $charcoal;
                        
                    }
                    .nav-tabs .tab.is-active {
                        background: $golden;
                        color: #fff;
                        box-shadow:1px 2px 5px $charcoal;
                        border: none;
                      
                    }

                    .tab-panel {
                        display: none;
                        margin-left: 50px;
                        color: $charcoal;

                    }

                    .tab-panel h5 {
                        margin-top: 10px;
                        margin-bottom: 20px;
                        font-family: $inika;
                        font-size: 30px;
                        font-weight: 700;
                        color: $sage;
                    }
                    .tab-panel p {
                        line-height: 1.6;
                        
                    }
                    .tab-panel.is-active {
                        display: block;
            
                    }
                }
            }
            .button {
                margin-top: 50px;
                border: none;
                border-radius: 1.5rem;
                font-size: 24px;
                background-color: $sage;
                min-width: 10rem;
                min-height: 3rem;
                color: white;
          
            }

            .button:hover {
                background-color: $pea;
                box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
            }
        }

        .cater {
            padding-bottom: 18rem;
            padding-top: 9rem;
            .article {
                text-align: center;
                padding: 2rem;
                background-color: $sage;
                width: 100%;
                h2 {
                    font-family: $inika;
                    font-size: $fs-mobile-heading;
                    color: white;
                }
                p {
                    font-family: $poppins;
                    font-size: $fs-mobile-body;
                    color: white;
                }
            }
            .row {
                display: flex;
                flex-wrap: wrap;
                min-width: 100%;
                
                .column {
                    flex: 15%;
                    margin: 0;
                    padding: 0;
                    .overlay {
                        background-color: black;
                        img {
                            width: 100%;
                            height: 100%;
                            opacity: 50%;
                           
                        }
                    }

                    img:hover {
                        opacity: 100%;
                        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }   
                

        .contact {

            .row-top {
                .title-container {
                    h2 {
                        font-family: $inika;
                        font-size: $fs-mobile-subheading;
                        color: $golden;
                        text-align: center;
                        
                       
                    }
                }
            }
            .row-bottom {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                margin-left: 20%;
                margin-right: 20%;
                margin-top: 5%;
                margin-bottom: 5%;
                .contact-details {
                    max-width: 300px;
                    margin-left: 10%;
                    .list-unstyled {
                      line-height: 2.5rem;
                        li {
                            font-family: $poppins;
                            margin-bottom: 10px;
                            
                            span {
                                font-family: $poppins;
                                font-size: $fs-mobile-body;
                            }
                        }
                        
                    }
    
                    .hours {
                        margin-top: 1.5rem;
                        color: $charcoal;
                        h6 {
                          
                            font-family: $inika;
                            font-size: $fs-mobile-subsubheading;
                            color: $peachy;
                        }
                        p {
                            line-height: .5rem;
                            font-family: $poppins;
                            font-size: $fs-mobile-body;
                        }
                    }
    
                    .socials {
                        
                  
                        a {
                            margin-right: 30px;
                            text-decoration: none;
                      
                        
                        
                        
                            .button {
                                margin-top: 15px;
                                margin-bottom: 60px;
                                background-color: $peachy;
                                border: none;
                                min-height: 40px;
                                min-width: 40px;
                                border-radius: 50%;
                        
                            }
    
                            .button:hover {
                                background-color: $golden;
                                box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
                            }
    
                        
                        }
                        hr {
                            width: 100%;
                            color: $golden;
                            border: 4px solid $golden;
                           
                            
                        }
                    }
                   
                }
    
                
            
            
               
                .form-center {
                    display: flex;
                    flex-direction: row;
                    max-width: 300px;
                 
                
                   }
                   .btn-primary {
                    margin-top: 30px;
                    padding: .5rem 2rem;
                    background-color: $peachy;
                    border: none;
                    width: 100%;
                }
                .btn-primary:hover {
                    background-color: $golden;
                }
    
                .map {
                    margin-left: 10%;
                    .map iframe {
                            height: 100%;
                            left: 0;
                            top: 0;
                        
                            
                    }
                }
            }
                
        }
    
    }
        .page-footer {
            background-color: $sage;
            display: flex;
            flex-direction: column;
            min-height: 25vh;
            
            .row {
                .col {
                    margin-top: 50px;

                    .sec-nav {
                        justify-content: center;
                        list-style: none;
                        display: flex;
                        li {
                           color: $lightgray;
                        
                        }
                        a {
                            text-decoration: none;
                            margin-left: 10px;
                            margin-right: 10px;
                            color: $lightgray;
                            font-size: 24px;
                        }
                        a:hover {
                            color: $sandy;
                        }
                    }
                    p {
                        text-align: center;
                        font-family: $poppins;
                        font-size: $fs-mobile-body;
                        color: $lightgray;
                        margin-top: 2.5rem;
                        font-size: 16px;
                        margin-left: 10px;
                        
                    }
                }
            }
        }

}
.career-app {
        min-height: 100vh;
        padding-top: 20rem;
        padding-bottom: 3rem;
        background-size: cover;
        background-repeat: no-repeat;
        .container {
            color: $charcoal;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .career-header {
                color: $golden;
            }
            .contact-details {
                margin-top: 55px;
                padding: 1rem;
                .list-unstyled {
                  line-height: 2.5rem;
                    li {
                        font-family: $poppins;
                        margin-bottom: 10px;
                        
                        span {
                            font-family: $poppins;
                            font-size: $fs-mobile-body;
                        }
                    }
                    
                }
    
                .hours {
                    margin-top: 1.5rem;
                    color: $charcoal;
                    h6 {
                      
                        font-family: $inika;
                        font-size: $fs-mobile-subsubheading;
                        color: $golden;
                    }
                    p {
                        line-height: .5rem;
                        font-family: $poppins;
                        font-size: $fs-mobile-body;
                    }
                }
        
                .footer-copyright {
                   
                    p {
                        font-family: $poppins;
                        font-size: $fs-mobile-body;
                        color: $charcoal;
                        margin-top: 2.5rem;
                    }
                }
    
                .socials {
                    
              
                    a {
                        margin-right: 30px;
                        text-decoration: none;
                  
                    
                    
                    
                        .button {
                            background-color: $golden;
                            border: none;
                            min-height: 40px;
                            min-width: 40px;
                            border-radius: 50%;
                    
                        }
    
                        .button:hover {
                            background-color: $sandy;
                            box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
                        }
    
                    
                    }
                    hr {
                        width: 100%;
                        color: $golden;
                        border: 4px solid $golden;
                        margin-bottom: 10px;
                        
                    }
                }
               
            }
    
    
            .form-center {
                padding: 1rem;
                margin-right: 50px;
                .md-form {
                    input {
                        border-radius: 10px;
                    }
                    
                    #positions,
                    #startdate {
                        color: $charcoal;
                        border: none;
        
                    }
                    #startdate {
                        padding-left: 1rem;
                        padding-right: 1rem;
                    }
                  
                    
                }
            
                .btn {
                    width: 100%;
                    margin-top: 30px;
                    background-color: $golden;
                    border: none;
                }
        
                .btn:hover {
                    background-color: $sandy;
                    
                }
            }
        }
}

@media (min-width: 1000px) {

    .index-header {
        h1 {
            font-size: 150px !important;
            margin-bottom: 30px;
        }
    }
    
    .image {
        grid-template-columns: repeat(2, 1fr) !important;
       
        .img3 {
            margin-right: 50px !important;
            max-height: 350px !important;
            max-width: 600px !important;
        }

       .img2 {
            margin-top: 0 !important;
            max-height: 308px !important;
            max-width: 600px !important;
       }
    }
    .career-app {
        .footer-copyright {
            padding-top: 0rem !important;
        }
    }

    .contact {
        .footer-copyright {
            padding-top: .2rem !important;
        }
    }
    .nav-link {
        font-size: 25px !important;
    }

    .btn-order a {
        font-size: 25px !important;
    }
}

@media (max-width: 1000px) {
    .google-map iframe {
        height: 100% !important;
    }
    .career-app{
        .container{
            grid-template-columns: repeat(1, 1fr) !important;
            .contact-details {
                margin-top: 30px !important;
            }
            .form-center {
                width: 100% !important;
                margin-top: 35px !important;
                
                h2 {
                    padding-bottom: 1rem !important;
                    color: white !important;
                }
            }
        }
    }
    

    .contact {
        .container {
            grid-template-columns: repeat(1, 1fr) !important;
            .contact-details {
                background: $golden !important;
                border-radius: 10px !important;
                margin-top: 30px !important;
                .form-center {
                    padding-top: 2.5rem !important;
                }
            }
        }
    }
    .cater {
        .container {
            min-height: 1250px !important;
            
        }
    }
}
